---
import { Header, Button, Footer } from '@littlesticks/odyssey-theme-components';
import Layout from './Base.astro';
import type { Props as BaseHeadProps } from '../components/head/BaseHead.astro';
import Logo from '../components/Logo.astro';
import settings from '../config/settings';
import { footerLists, footerSocials } from '../config/footer';


export interface Props {
	seo?: BaseHeadProps;
}

import { nav } from '../config/nav.js';

const { seo } = Astro.props as Props;
---

<script>
	import {createStartUrl} from '../config/helper.js';

	const links = document.querySelectorAll('a[href="https://app.sketchmate.ninja"]');
	links.forEach(link => {
		link.setAttribute('href', createStartUrl())
	})

	const div = document.querySelector('.footer-copyright__container');

	// Create the anchor element
	const anchor = document.createElement('a');
	anchor.href = 'https://play.google.com/store/apps/details?id=ninja.sketchmate.app&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1';
	anchor.style.width = '200px'
	anchor.style.marginTop = '-50px'
	anchor.style.marginLeft = '-20px'

	// Create the image element
	const img = document.createElement('img');
	img.alt = 'Get it on Google Play';
	img.src = 'https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png';
	img.width = 200

	// Append the image to the anchor
	anchor.appendChild(img);

	// Append the anchor to the div
	div.prepend(anchor);
</script>

<Layout seo={seo}>
	<slot name="announcement-bar" slot="announcement-bar" />
	<Header rightMenu navData={nav} slot="header">
		<span slot="logo">
			<Logo />
		</span>
		<Button slot="action-item" href="https://app.sketchmate.ninja">Start Sketching</Button>
	</Header>
	<div id="page">
		<slot />
	</div>
	<Footer
		slot="footer"
		background="var(--theme-surface-1)"
		color="var(--theme-on-surface-1)"
		footerLists={footerLists}
    footerSocials={footerSocials}
		copyrightName={settings.name}
    showLittleSticksPlug={settings.showLittleSticksPlug}
	>
		<Logo slot="logo" />
	</Footer>
</Layout>
